{
  "presets": [
    ["@babel/preset-env", {
      "targets": {
        "node": "current"
      },
      "useBuiltIns": false
    }], "@babel/preset-react", "next/babel"
  ],
  "plugins": [
    "@babel/plugin-transform-runtime"
  ]
}
