.container {
  height: 100vh;
  min-height: 100vh;
}

.header {
  align-items: center;
  display: flex;
  font-size: 2.4rem;
  font-weight: 500;
  justify-content: center;
  margin: 0 auto;
  padding: 1rem 2rem;
  position: relative;
  text-align: center;

  @media (max-width: 368px) {
    padding: 1rem;
  }
}

.subheader {
  background-color: slategray;
  font-size: 2.4rem;
  letter-spacing: 0.04em;
  margin: 1rem 0 0 0;
  padding: 0.75rem 0;
  text-align: center;
  @media (max-width: 368px) {
    padding: 1rem 0;
  }
}

.backButton {
  background-color: #333;
  border: none;
  color: #eee;
  cursor: pointer;
  font-size: 1.6rem;
  font-weight: 300;
  left: 0;
  padding: 0.5rem;
  position: absolute;
}

.destination {
  color: #eee;
  font-size: 2rem;
  letter-spacing: 0.04rem;
  text-transform: uppercase;
  text-align: left;
}

.destinationHeader {
  color: #333;
  font-weight: 500;
  padding: 0.5rem 0 0.5rem 0.5rem;
  margin: 0;
}

.gray {
  background-color: #aba682;
}

.green {
  background-color: #4db848;
}
.blue {
  background-color: #00aeef;
}
.yellow {
  background-color: #ffe801;
}
.red {
  background-color: #ed1c24;
}
.orange {
  background-color: #faa61b;
}

.trainList {
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0 1rem 0;
  text-align: left;

  @media (max-width: 368px) {
    flex-direction: column;
    padding-left: 0.5rem;
  }
}

.trainMinuteText {
  font-size: 1.5rem;
  font-weight: 500;

  @media (max-width: 368px) {
    font-size: 1.75rem;
    font-weight: 500;
  }
}

.trainCarText {
  font-size: 1rem;

  @media (max-width: 368px) {
    font-size: 1.5rem;
  }
}

.timeText {
  font-size: 1.25rem;

  @media (max-width: 368px) {
    font-size: 1.2rem;
  }
}
